.App {
  text-align: center;
}

.SearchContainer {
  margin-bottom: 20px;
}

.ChampionContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.column {
  width: 20%;
  height: 80vh; 
}

.ChampionPlaceholder {
  margin-bottom: 10px;
  cursor: pointer;
}

.ChampionList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%; 
  max-height: 80vh;
  overflow-y: auto;
}

.champion {
  margin: 10px;
  cursor: pointer;
}

.champion img {
  width: 100px;
  height: 100px;
}

.ChampionName {
  margin-top: 5px;
  font-weight: bold;
}

.selected {
  border: 2px solid red;
}

.Red{
color: red;
}

.Blue{
color: blue;
}